@CHARSET "UTF-8";

html body, html h1, html h2, html h3, html h4, html h5, html h6, html hr, html p, html blockquote, html dl, html dt, html dd, html ul, html ol, html li, html pre, html form, html fieldset, html legend, html button, html input, html textarea, html th, html td {
    margin: 0;
    padding: 0;}
html body, html button, html input, html select, html textarea {
    -webkit-touch-callout:none;
    font-style: normal;
	font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	line-height:inherit;}
html h1, html h2, html h3, html h4, html h5, html h6 {
    font-size: 100%; }
html body{
	-webkit-text-size-adjust: 100%!important;
}
/*  */
/*  */
/*  */
/* 正文   */
html p{
	font-size: 17px;
	color: #3E3E3E;
	line-height: 3.2em;
	letter-spacing: 0.05em;
	white-space: pre-wrap;
	word-wrap: break-word;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
html address, html cite, html dfn, html em, html var {
    font-style: normal; }
html code, html kbd, html pre, html samp {
    font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
html small {
    font-size: 12px; }
html ul, html ol {
    list-style: none; }
html ul{
	padding:0;
	margin:0;
}
html li{
	margin: 0;
	padding: 0;
    list-style-type:none;
}
html a {
    text-decoration: none; }
html a:hover {
    text-decoration: underline; }
html sup {
    vertical-align: text-top; }
html sub {
    vertical-align: text-bottom; }
html legend {
    color: #000; }
html fieldset, html img {
    border: 0; }
html button, html input, html select, html textarea {
    font-size: 100%; }
html table {
    border-collapse: collapse;
    border-spacing: 0; }