@CHARSET "UTF-8";

.divImg{
	height: 600px;
	width: 100%;
	overflow: hidden;
}

.divImg img{
	width: 100%;
	min-height: 600px;
}

.content{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}

.content .voice{
	height: 250px;
	width: 100%;
	background: #f5e8f4;
}

.content .text{
}