@CHARSET "UTF-8";

li{
	background-color: #ffffff;
}
li .divImg{
	height: 550px;
	width: 100%;
	overflow: hidden;
}
li .divImg img{
	width: 100%;
	min-height: 550px;
}
li .divText{
	width: 800px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
li .divText p{
	text-overflow:ellipsis;
}
li .line{
	height: 1px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 1px 1px #dfdfdf;
}
li .space{
	height: 15px;
	width: 100%;
	background-color: #f3f3f3;
}